receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318
        cors:
          allowed_origins:
            - http://*
            - https://*

processors:
  resource:
    attributes:
      - key: pipeline_source
        value: "otel-collector"
        action: upsert
  batch:
    timeout: 5s
    send_batch_size: 1024

exporters:
  # Loki for logs
  otlphttp:
    endpoint: http://loki:3100/otlp  
  # Backup exporters for redundancy
  # Jaeger for traces
  otlp/jaeger:
    endpoint: jaeger:4317
    tls:
      insecure: true
  # Tempo for traces
  otlphttp/tempo:
    endpoint: http://tempo:4318
    tls:
      insecure: true
  # Prometheus Remote Write for metrics
  prometheusremotewrite:
    endpoint: http://prometheus:9090/api/v1/write
    tls:
      insecure: true

  debug:
    verbosity: basic

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [otlp/jaeger, otlphttp/tempo]

    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [debug, otlphttp]

    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, prometheusremotewrite]